.hello {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 300px;
  padding-bottom: 54%;
  background-color: #e8e3c7;

  background-image: url("../public/header.jpg");
  background-position: center top;
  background-size: cover;
}

.bg {
  background-image: url("../public/header.jpg");
}

.hello:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e8e3c7;
  opacity: 0.4;
}

.text {
  @apply prose dark:prose-invert prose-lg;

  width: 50%;
  min-width: 320px;

  /* font-family: "Cookie", cursive; */
  text-transform: uppercase;
}

.helloInner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @apply flex p-5;
  box-sizing: border-box;
}

.h1 {
  position: relative;
  top: 8px;
  left: 8px;
  display: inline-block;
  color: #ba9186;

  animation: show 0.5s linear;
}

.h1:before {
  /* content: " "; */
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -2px;
  right: -2px;
  z-index: 1;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIxMi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iMTIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIzNy41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PHN0b3Agb2Zmc2V0PSI2Mi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iNjIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI4Ny41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijg3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -moz-linear-gradient(
    45deg,
    #e8e3c7 12.5%,
    rgba(232, 227, 199, 0) 12.5%,
    rgba(232, 227, 199, 0) 37.5%,
    #e8e3c7 37.5%,
    #e8e3c7 62.5%,
    rgba(232, 227, 199, 0) 62.5%,
    rgba(232, 227, 199, 0) 87.5%,
    #e8e3c7 87.5%
  );
  background-image: -webkit-linear-gradient(
    45deg,
    #e8e3c7 12.5%,
    rgba(232, 227, 199, 0) 12.5%,
    rgba(232, 227, 199, 0) 37.5%,
    #e8e3c7 37.5%,
    #e8e3c7 62.5%,
    rgba(232, 227, 199, 0) 62.5%,
    rgba(232, 227, 199, 0) 87.5%,
    #e8e3c7 87.5%
  );
  background-image: linear-gradient(
    45deg,
    #e8e3c7 12.5%,
    rgba(232, 227, 199, 0) 12.5%,
    rgba(232, 227, 199, 0) 37.5%,
    #e8e3c7 37.5%,
    #e8e3c7 62.5%,
    rgba(232, 227, 199, 0) 62.5%,
    rgba(232, 227, 199, 0) 87.5%,
    #e8e3c7 87.5%
  );
  background-size: 6px 6px;
}

.h1:after {
  z-index: 2;
  content: attr(data-name);
  position: absolute;
  left: -8px;
  top: -8px;
  color: #b85b3f;
  text-shadow: 3px 3px #e8e3c7;
}

.h1:hover:before {
  animation: dash-animation 30s infinite linear;
}

@keyframes dash-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
